###############
#    ignore   #
###############
###############
#    global   #
###############
###############
#    project  #
###############
/TestResults/
/CyberPark.Domain.Core.Test/
/Packages/
/*/bin/
/*/obj/
