@using CyberPark.Domain.Core;
@using CyberPark.Website.Models;
@{
    ViewBag.Title = "Customer#" + ViewBag.CustomerId;
}

<div class="container" ng-controller="CustomerController as cusCtrl" ng-init="cusCtrl.load(@ViewBag.CustomerId)">
    <!-- #region customer info -->
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="customerInfo">
            <h4 class="panel-title">
                <a data-parent="#accordion" href="#collapseCustomerInfo" data-toggle="collapse" aria-controls="collapseCustomerInfo" style="display:block;">
                    Customer {{cusCtrl.customer.id}}&nbsp;| &nbsp;{{cusCtrl.customer.name}}
                </a>
            </h4>
        </div>
        <div id="collapseCustomerInfo" class="panel-collapse collapse collapse" role="tabpanel" aria-labelledby="customerInfo">
            <div class="panel-body">
                <form id="formCustomerGeneralInfo" class="form-horizontal" ng-submit="cusCtrl.updateCustomerGeneral()">
                    <!--name-->
                    <div class="form-group">
                        <label for="mobile" class="control-label col-md-1">Title</label>
                        <div class="col-md-2">
                            <select ng-model="cusCtrl.editingCustomer.title" class="form-control">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                            </select>
                        </div>
                        <label for="firtName" class="control-label col-md-1">First Name</label>
                        <div class="col-md-3">
                            <input type="text" ng-model="cusCtrl.editingCustomer.firstName" class="form-control" maxlength="50" required />
                        </div>
                        <label for="lastName" class="control-label col-md-1">Last Name</label>
                        <div class="col-md-3">
                            <input type="text" ng-model="cusCtrl.editingCustomer.lastName" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <!--contact-->
                    <div class="form-group">
                        <label for="mobile" class="control-label col-md-1 col-md-offset-3">Mobile</label>
                        <div class="col-md-3">
                            <input type="text" pattern="\d*" ng-model="cusCtrl.editingCustomer.mobile" class="form-control" required maxlength="20" />
                        </div>
                        <label for="email" class="control-label col-md-1">Email</label>
                        <div class="col-md-3">
                            <input type="email" ng-model="cusCtrl.editingCustomer.email" class="form-control" required />
                        </div>
                    </div>
                    <!--identity-->
                    <div class="form-group">
                        <label class="control-label col-md-1">ID Type</label>
                        <div class="col-md-2">
                            <select class="selectpicker show-tick form-control" ng-model="cusCtrl.editingCustomer.identityType">
                                <option value="Driver Lience">Driver Lience</option>
                                <option value="Passport">Passport</option>
                                <option value="Org. Reg. No.">Organization Register</option>
                            </select>
                        </div>
                        <label for="identity_number" class="control-label col-md-1">ID Number</label>
                        <div class="col-md-3">
                            <input type="text" pattern="[A-za-z0-9-]*" ng-model="cusCtrl.editingCustomer.identityNumber" class="form-control" />
                        </div>
                        <div class="col-md-4 text-right">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region accounts -->
    <div ng-if="cusCtrl.customer.accounts.length>0" ng-controller="AccountController as acctCtrl" ng-init="acctCtrl.load(cusCtrl.customer.accounts[0].id)">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="account in cusCtrl.customer.accounts" ng-class="{'active':account.id === acctCtrl.account.id}" ng-click="account.id != acctCtrl.account.id?acctCtrl.load(account.id):null">
                <a href="#acccount_{{account.id}}" aria-controls="profile" role="tab" data-toggle="tab">{{account.id}}&nbsp;&nbsp;{{account.type==='Personal'?account.name:account.organizationName}}&nbsp;-&nbsp;{{acctCtrl.account.type}}</a>
            </li>
        </ul>
        <!-- Tab panel -->
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- #region account general info -->
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="accountInfo">
                        <h4 class="panel-title">
                            <a data-parent="#accordion" href="#collapseAccountInfo" data-toggle="collapse" aria-controls="collapseAccountInfo" style="display:block;">
                                Account {{acctCtrl.account.id}}&nbsp;-&nbsp;{{acctCtrl.account.type}}&nbsp;-&nbsp;
                                {{acctCtrl.account.type==='Personal'?acctCtrl.account.name:acctCtrl.account.organizationName}}&nbsp;-&nbsp;{{acctCtrl.account.isActive?"Active":"Disable"}}
                                <span class="pull-right">Balance&nbsp;&nbsp;{{acctCtrl.account.balance | currency:"$"}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAccountInfo" class="panel-collapse collapse collapse" role="tabpanel" aria-labelledby="accountInfo">
                        <div class="panel-body">
                            <form id="formCustomerGeneralInfo" class="form-horizontal" ng-submit="acctCtrl.updateAccountGeneral()">
                                <!-- #region general -->
                                <h4 class="text-success">General</h4>
                                <div class="form-group">
                                    <label class="control-label col-md-1">Type</label>
                                    <div class="col-md-3">
                                        <select class="selectpicker show-tick form-control" ng-model="acctCtrl.acctGeneral.type">
                                            <option value="Personal">Personal</option>
                                            <option value="Business">Business</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1">Address</label>
                                    <div class="col-md-5">
                                        <input type="text" ng-model="acctCtrl.acctGeneral.address" class="form-control" required />
                                    </div>
                                    <div class="checkbox col-md-2">
                                        <label>
                                            <input type="checkbox" ng-model="acctCtrl.acctGeneral.isActive" />Active
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-1">Invoice</label>
                                    <div class="col-md-3">
                                        <select class="selectpicker show-tick form-control" ng-model="acctCtrl.acctGeneral.invoicePeriodType">
                                            <option value="CalendarMonth">Calendar Month</option>
                                            <option value="ServiceGivenDay">Service Given Day</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1">Invoice Day</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="acctCtrl.acctGeneral.invoiceDay" class="form-control" required />
                                    </div>
                                </div>
                                <!-- org name -->
                                <div class="form-group">
                                    <label class="control-label col-md-1 col-md-offset-4" ng-if="acctCtrl.acctGeneral.type==='Business'">Org.Name</label>
                                    <div class="col-md-5" ng-if="acctCtrl.acctGeneral.type==='Business'">
                                        <input type="text" ng-model="acctCtrl.acctGeneral.organizationName" class="form-control" required />
                                    </div>
                                </div>
                                <!-- #endregion -->
                                <!-- #region branch -->
                                <div class="form-group">
                                    <label class="control-label col-md-1">Register</label>
                                    <div class="col-md-3">
                                        <select class="selectpicker show-tick form-control" ng-model="acctCtrl.acctGeneral.registerBranchId">
                                            <option value="b0b1ee67-dbcb-11e5-b23c-d4bed972f15a">Head Office</option>
                                            <option value="d913d158-e178-11e5-b23c-d4bed972f15a">Branch 1</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1">Charge</label>
                                    <div class="col-md-3">
                                        <select class="selectpicker show-tick form-control" ng-model="acctCtrl.acctGeneral.chargeBranchId">
                                            <option value="b0b1ee67-dbcb-11e5-b23c-d4bed972f15a">Head Office</option>
                                            <option value="d913d158-e178-11e5-b23c-d4bed972f15a">Branch 1</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- #endregion -->
                                <!-- #region contact -->
                                <h4 class="text-success">Contact</h4>
                                <div class="form-group">
                                    <label for="mobile" class="control-label col-md-1">Title</label>
                                    <div class="col-md-3">
                                        <select ng-model="acctCtrl.acctGeneral.title" class="form-control">
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Ms">Ms</option>
                                        </select>
                                    </div>
                                    <label for="firtName" class="control-label col-md-1">First.Name</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="acctCtrl.acctGeneral.firstName" class="form-control" maxlength="50" required />
                                    </div>
                                    <label for="lastName" class="control-label col-md-1">Last.Name</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="acctCtrl.acctGeneral.lastName" class="form-control" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="control-label col-md-1">Mobile</label>
                                    <div class="col-md-3">
                                        <input type="text" pattern="\d*" ng-model="acctCtrl.acctGeneral.mobile" class="form-control" required maxlength="20" />
                                    </div>
                                    <label for="email" class="control-label col-md-1">Email</label>
                                    <div class="col-md-3">
                                        <input type="email" ng-model="acctCtrl.acctGeneral.email" class="form-control" required />
                                    </div>
                                    <div class="col-md-3 col-md-offset-1">
                                        <button type="button" class="btn btn-success btn-xs" ng-click="acctCtrl.copyContactFromCustomer(cusCtrl.customer)">copy contact from customer</button>
                                    </div>
                                </div>
                                <!-- #endregion -->
                                <!-- #region identity-->
                                <h4 class="text-success">Identity</h4>
                                <div class="form-group">
                                    <label for="identity_number" class="control-label col-md-1">ID Type</label>
                                    <div class="col-md-3">
                                        <select class="selectpicker show-tick form-control" ng-model="acctCtrl.acctGeneral.identityType">
                                            <option value="Driver Lience">Driver Lience</option>
                                            <option value="Passport">Passport</option>
                                            <option value="Org. Reg. No.">Organization Register</option>
                                        </select>
                                    </div>
                                    <label for="identity_number" class="control-label col-md-1">ID No.</label>
                                    <div class="col-md-3">
                                        <input type="text" pattern="[A-za-z0-9-]*" ng-model="acctCtrl.acctGeneral.identityNumber" class="form-control"/>
                                    </div>
                                    <div class="col-md-3 col-md-offset-1">
                                        <button type="button" class="btn btn-success btn-xs" ng-click="acctCtrl.copyIdentityFromCustomer(cusCtrl.customer)">copy identity from customer</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-10 text-right">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                                <!-- #endregion -->
                            </form>
                        </div>
                    </div>
                </div>
                <!--#endregion -->
                <!-- #region product | service -->
                <div class="panel panel-success" ng-controller="ProductController as mthPdctCtrl" ng-init="mthPdctCtrl.init('monthly')">
                    <div class="panel-heading">
                        <h4 class="panel-title">Product | Service</h4>
                    </div>
                    <div class="panel-body">
                        <!-- #region product info -->
                        <div class="col-sm-6 col-md-4" ng-repeat="pdct in mthPdctCtrl.products | orderBy:'-priceGSTExclusive'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!-- service,useage offer package -->
                                    <span>{{pdct.name}}</span>
                                    <button type="button" class="btn btn-xs btn-default pull-right" title="Edit Proudct" ng-click="mthPdctCtrl.edit(pdct)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <!-- service -->
                                    <div ng-repeat="srv in pdct.services | filter:{isDeleted:false}" ng-if="pdct.isPackage">
                                        {{srv.description}} - {{srv.status}}
                                    </div>
                                    <!-- offers -->
                                    <div ng-repeat="ofr in pdct.usageOffers | filter:{serviceType:'Phone', isDeleted:false}" ng-if="pdct.isPackage">
                                        {{ofr.name}}
                                    </div>
                                    <!-- price -->
                                    <hr ng-if="pdct.isPackage" />
                                    <div>
                                        {{pdct.priceGSTExclusive | currency:"$"}}(Excl.GST) / {{pdct.priceGSTInclusive | currency:"$"}}(Incl.GST)
                                        *{{pdct.numberOfMonthPerCharge + " months"}}
                                    </div>
                                    <!-- charged to-->
                                    <!-- using start -->
                                    <div>
                                        start using on {{pdct.serviceGivenDate | date:"dd MMM, yyyy"}}
                                    </div>
                                    <!-- charged to-->
                                    <div>
                                        has charged to {{pdct.chargedToDate | date:"dd MMM, yyyy"}}
                                    </div>

                                    <hr ng-if="pdct.isPackage" />
                                    <div ng-if="pdct.isTermed">
                                        {{pdct.monthsOfTerm}} months term from
                                        {{pdct.termStartDate | date:"dd MMM, yyyy"}} to {{pdct.termEndDate | date:"dd MMM, yyyy"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->
                        <!-- #region product edit modal -->
                        <div class="modal fade" id="productEditModal" tabindex="-1" role="dialog" aria-labelledby="productEditModal" data-backdrop="static">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="productEditModalLabel">{{mthPdctCtrl.editingProduct.id?"Edit Product":"New Product"}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- messsage -->
                                        <div ng-if="mthPdctCtrl.alerts" ng-repeat="alert in mthPdctCtrl.alerts">
                                            <div ng-class="{'alert':true,'alert-success':alert.type==='success','alert-danger':alert.type==='error'}">
                                                <span ng-bind="alert.message"></span>
                                                <button type="button" class="close" data-dismiss="alert" ng-click="mthPdctCtrl.closeAlert(alert)">&times;</button>
                                            </div>
                                        </div>
                                        <!-- #region general info -->
                                        <!-- name-->
                                        <form class="form-horizontal" ng-submit="mthPdctCtrl.saveGeneral()">
                                            <h4 class="text-success bg-success  panel-heading">General</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-1">Name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" ng-model="mthPdctCtrl.editingProduct.name" required>
                                                </div>
                                                <!-- charged to-->
                                                <label class="control-label col-md-1">Charged.To</label>
                                                <div class="col-md-3">
                                                    <input type="date" class="form-control" ng-model="mthPdctCtrl.editingProduct.chargedToDate" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1">Price</label>
                                                <div class="col-md-3">
                                                    <input type="number" step="0.01" class="form-control" ng-model="mthPdctCtrl.editingProduct.basePriceGSTExclusive" min="0" max="999.99" required>
                                                </div>
                                                <label class="control-label col-md-2">Discount (%)</label>
                                                <div class="col-md-2">
                                                    <input type="number" class="form-control" ng-model="mthPdctCtrl.editingProduct.discountRate" min="0" max="100" step="0.0001" required>
                                                </div>
                                                <label class="control-label col-md-1">Month(s)</label>
                                                <div class="col-md-2">
                                                    <input type="number" class="form-control" ng-model="mthPdctCtrl.editingProduct.numberOfMonthPerCharge" min="1" max="36" required>
                                                </div>
                                                <label class="control-label col-md-1">
                                                    <input type="checkbox" ng-model="mthPdctCtrl.editingProduct.isTermed" />Term
                                                </label>
                                            </div>
                                            <!-- term -->
                                            <div class="form-group" ng-if="mthPdctCtrl.editingProduct.isTermed">
                                                <label class="control-label col-md-1">From</label>
                                                <div class="col-md-3">
                                                    <input type="date" class="form-control" ng-model="mthPdctCtrl.editingProduct.termStartDate" required>
                                                </div>
                                                <label class="control-label col-md-2">Term Months</label>
                                                <div class="col-md-2">
                                                    <input type="number" class="form-control" ng-model="mthPdctCtrl.editingProduct.monthsOfTerm" min="0" max="36" required>
                                                </div>
                                            </div>
                                            <!-- operate -->
                                            <div class="modal-footer form-group">
                                                <div class="col-md-5 text-left">
                                                    {{mthPdctCtrl.editingProduct.basePriceGSTExclusive | currency:"$"}} * {{100-mthPdctCtrl.editingProduct.discountRate}}% * 1.15(GST) * {{mthPdctCtrl.editingProduct.numberOfMonthPerCharge}} =
                                                    {{mthPdctCtrl.editingProduct.basePriceGSTExclusive * (1-mthPdctCtrl.editingProduct.discountRate/100) * 1.15 * mthPdctCtrl.editingProduct.numberOfMonthPerCharge | currency:"$"}}
                                                </div>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-success">
                                                    {{mthPdctCtrl.editingProduct.id?"Update":"Save"}}
                                                </button>
                                            </div>
                                        </form>
                                        <!--#endregion-->
                                        <!--  #region service detail -->
                                        <h4 class="text-success bg-success panel-heading">
                                            Service
                                            <span class="pull-right">
                                                <button type="button" class="btn btn-success btn-xs" ng-click="mthPdctCtrl.addService('Broadband')">Add Broadband</button>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="mthPdctCtrl.addService('Phone')">Add Phone</button>
                                            </span>
                                        </h4>
                                        <div ng-repeat="srv in mthPdctCtrl.editingProduct.services | filter:{isDeleted:false}">
                                            <form class="form-horizontal" ng-submit="mthPdctCtrl.saveService(srv)">
                                                <div class="form-group">
                                                    <div class="col-md-2">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon glyphicon glyphicon-phone-alt" aria-hidden="true" ng-if="srv.type==='Phone'"></span>
                                                            <span class="input-group-addon glyphicon glyphicon-globe" aria-hidden="true" ng-if="srv.type==='Broadband'"></span>
                                                            <select class="selectpicker show-tick form-control" ng-model="srv.subType" ng-if="srv.type==='Broadband'" required>
                                                                <option value="ADSL">ADSL</option>
                                                                <option value="VDSL">VDSL</option>
                                                                <option value="UFB">UFB</option>
                                                            </select>
                                                            <select class="selectpicker show-tick form-control" ng-model="srv.subType" ng-if="srv.type==='Phone'" required>
                                                                <option value="PSTN">PSTN</option>
                                                                <option value="VoIP">VoIP</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- broadband -->
                                                    <label class="control-label col-md-1" ng-if="srv.type==='Broadband'">ASID</label>
                                                    <!-- phone -->
                                                    <label class="control-label col-md-1" ng-if="srv.type==='Phone'">Number</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-model="srv.identityNumber" required>
                                                    </div>
                                                    <!-- status -->
                                                    <label class="control-label col-md-1">Status</label>
                                                    <div class="col-md-2">
                                                        <select class="selectpicker show-tick form-control" ng-model="srv.status" required>
                                                            @foreach (var status in Service.Statuses.Status)
                                                            {
                                                                <option value="@status">@status</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <!-- service operate -->
                                                    <div class="col-md-2 text-right">
                                                        <button type="button" class="btn btn-xs btn-danger" title="Remove Service" ng-click="mthPdctCtrl.removeService(srv)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        <button type="submit" class="btn btn-xs btn-success" title="Save Service">
                                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- broadband additional info -->
                                                <div class="form-group" ng-if="srv.type==='Broadband'">
                                                    <label class="control-label col-md-2 col-md-offset-1">PPPoE Username</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-model="srv.broadbandPPPoeLoginName">
                                                    </div>
                                                    <label class="control-label col-md-1">Password</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-model="srv.broadbandPPPoePassword">
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="srv.type==='Broadband'">
                                                    <label class="control-label col-md-2  col-md-offset-1">SVLAN</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-model="srv.broadbandSVLAN">
                                                    </div>
                                                    <label class="control-label col-md-1">CVLAN</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" ng-model="srv.broadbandCVLAN">
                                                    </div>
                                                </div>
                                                <!-- rfs date / password -->
                                                <div class="form-group">
                                                    <!-- voip password -->
                                                    <label class="control-label col-md-1 col-md-offset-2" ng-if="srv.subType==='VoIP'">Password</label>
                                                    <div class="col-md-4" ng-if="srv.subType==='VoIP'">
                                                        <input type="text" class="form-control" ng-model="srv.voipPassword" required>
                                                    </div>
                                                    <div class="col-md-7" ng-if="srv.subType!=='VoIP'">
                                                    </div>
                                                    <!-- rfs date -->
                                                    <label class="control-label col-md-1">RFSD</label>
                                                    <div class="col-md-4">
                                                        <input type="date" class="form-control" ng-model="srv.readyForServiceDate">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- #endregion -->
                                        <!-- #region offer-->
                                        <h4 class="text-success bg-success  panel-heading">
                                            Offer
                                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="mthPdctCtrl.addOffer('Phone')">Add Offer</button>
                                        </h4>
                                        <div ng-repeat="ofr in mthPdctCtrl.editingProduct.usageOffers | filter:{serviceType:'Phone', isDeleted:false}">
                                            <form class="form-horizontal" ng-submit="mthPdctCtrl.saveOffer(ofr)">
                                                <div class="form-group">
                                                    <div class="col-md-2">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon glyphicon glyphicon-phone-alt" aria-hidden="true" ng-if="ofr.serviceType==='Phone'"></span>
                                                            <select class="selectpicker show-tick form-control" ng-model="ofr.serviceSubType" ng-if="ofr.serviceType==='Phone'" required>
                                                                <option value="PSTN">PSTN</option>
                                                                <option value="VoIP">VoIP</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label class="control-label col-md-1">Name</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" ng-model="ofr.name" required>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <button type="button" class="btn btn-xs btn-danger" title="Save Offer" ng-click="mthPdctCtrl.removeOffer(ofr)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-xs btn-success" title="Save Offer" ng-click="mthPdctCtrl.saveOffer(ofr)">
                                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-md-offset-2">Minutes</label>
                                                    <div class="col-md-2">
                                                        <input type="number" class="form-control" ng-model="ofr.minutes" min="-1" max="9999" required>
                                                    </div>
                                                    <label class="checkbox col-md-1">International</label>
                                                    <div class="col-md-3">
                                                        <select class="selectpicker show-tick form-control" ng-model="ofr.callingRegionId" required>
                                                            <option value="">N/A</option>
                                                            <option value="40COUNTRIES">40 Countries</option>
                                                            <option value="CHN_FIX_MOB">China (Fixed Line & Mobile)</option>
                                                            <option value="IND_FIX_MOB">India (Fixed Line & Mobile)</option>
                                                        </select>
                                                    </div>
                                                    <label class="checkbox col-md-1"><input type="checkbox" ng-model="ofr.local" />Local</label>
                                                    <label class="checkbox col-md-1"><input type="checkbox" ng-model="ofr.national" />National</label>
                                                    <label class="checkbox col-md-1"><input type="checkbox" ng-model="ofr.mobile" />Mobile</label>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- #endregion -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- #endregion product edit modal -->
                    </div>
                </div>
                <!-- #endregion-->
                <!-- #region invoice/balance panel -->
                <div class="panel panel-success" ng-controller="InvoiceController as invCtrl">
                    <div class="panel-heading">
                        <h4 class="panel-title">Invoice
                        </h4>
                    </div>
                    <table id="invList" class="table" ng-if="invCtrl.invoices.length>0">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Year/Month</th>
                                <th>status</th>
                                <th>Previous Balance</th>
                                <th>Charge</th>
                                <th>Adjust</th>
                                <th>TopUp</th>
                                <th>Current Balance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="inv in invCtrl.invoices">
                            <!-- invoice -->
                            <tr>
                                <td><a href="/invoice/view/{{inv.id}}" target="_blank">{{inv.id}}</a></td>
                                <td>{{inv.year + '/' + inv.month}}</td>
                                <th>{{inv.status}}</th>
                                <td>{{inv.previousBalance | currency:"$"}}</td>
                                <td>{{inv.chargeAmountIncludeGST | currency:"$"}}</td>
                                <td>{{inv.adjustAmount | currency:"$"}}</td>
                                <td>{{inv.transactionAmount | currency:"$"}}</td>
                                <td>{{inv.currentBalance | currency:"$"}}</td>
                                <td>
                                    <!-- void -->
                                    <button type="button" class="btn btn-xs btn-warning" title="Void Invoice" ng-if="inv.status==='Valid'" ng-click="invCtrl.void(inv.id);">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-success" title="Re-Issue" ng-if="inv.status==='Void'&&$first" ng-click="invCtrl.reissue(inv.id);">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--#endregion -->
                <!--#region one-off panel -->
                <div class="panel panel-success" ng-controller="ProductController as oneOffPdctCtrl" ng-init="oneOffPdctCtrl.init('one-off')">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            One-Off Service
                            <button type="button" class="btn btn-xs btn-success pull-right" title="New One-Off Service">
                                New One-Off Service
                            </button>
                        </h4>
                    </div>
                    <table id="oneOffList" class="table" ng-if="oneOffPdctCtrl.servicePackages.length>0">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Service</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="pkg in oneOffPdctCtrl.servicePackages | orderBy:'-price'" ng-class="{'bg-warning':!($index%2)}">
                            <!-- service -->
                            <tr ng-repeat="srv in pkg.services">
                                <td ng-if="$first" rowspan="{{pkg.services.length + pkg.usageOffers.length}}">{{pkg.name}}</td>
                                <td>{{srv.description}}</td>
                                <td ng-if="$first" rowspan="{{pkg.services.length + pkg.usageOffers.length}}">{{pkg.price | currency:"$"}}</td>
                            </tr>
                            <!-- offer -->
                            <tr ng-repeat="offer in pkg.usageOffers">
                                <td ng-if="pkg.services.length===0 && $first" rowspan="{{pkg.usageOffers.length}}">{{pkg.name}}</td>
                                <td>{{offer.name}}</td>
                                <td ng-if="pkg.services.length===0 && $first" rowspan="{{pkg.usageOffers.length}}">{{pkg.price | currency:"$"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--#endregion -->
                <!-- #region transaction panel -->
                <div class="panel panel-success" ng-controller="TransactionController as transCtrl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Transaction
                            <button type="button" class="btn btn-xs btn-success pull-right" title="New Transaction" ng-click="transCtrl.create()">
                                New Transaction
                            </button>
                        </h4>
                    </div>
                    <table id="transList" class="table" ng-if="transCtrl.transactions.length>0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th>Card Holder</th>
                                <th>Card Number</th>
                                <th>Invoice</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="trans in transCtrl.transactions | orderBy:'-date'">
                                <td>{{trans.date | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{trans.amount | currency:"$"}}</td>
                                <td>{{trans.type}}</td>
                                <td>{{trans.cardHolder}}</td>
                                <td>{{trans.cardNumber}}</td>
                                <td>{{trans.invoiceId? trans.invoiceId:'Unsettled'}}</td>
                                <td>
                                    <!-- delete -->
                                    <button type="button" class="btn btn-xs btn-danger" title="Remove Transaction" ng-click="transCtrl.remove(trans)" ng-if="!trans.invoiceId">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- #region transction edit modal -->
                    <div class="modal fade" id="transEditModal" tabindex="-1" role="dialog" aria-labelledby="transEditModal" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="transEditModalLabel">{{transCtrl.editingTransaction.id?"Edit Transaction":"New Transaction"}}</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- messsage -->
                                    <div ng-if="transCtrl.alerts" ng-repeat="alert in transCtrl.alerts">
                                        <div ng-class="{'alert':true,'alert-success':alert.type==='success','alert-danger':alert.type==='error'}">
                                            <span ng-bind="alert.message"></span>
                                            <button type="button" class="close" data-dismiss="alert" ng-click="transCtrl.closeAlert(alert)">&times;</button>
                                        </div>
                                    </div>
                                    <form class="form-horizontal" ng-submit="transCtrl.save()">
                                        <div class="form-group">
                                            <label class="control-label col-md-1">Amount</label>
                                            <div class="col-md-3">
                                                <input  type="number" step="0.01"  class="form-control" ng-model="transCtrl.editingTransaction.amount" required>
                                            </div>
                                            <label class="control-label col-md-1">Date</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-model="transCtrl.editingTransaction.date" required>
                                            </div>
                                            <label class="control-label col-md-1">Type</label>
                                            <div class="col-md-3">
                                                <select class="selectpicker show-tick form-control" ng-model="transCtrl.editingTransaction.type" required>
                                                    <option value="Account2Account">Account2Account</option>
                                                    <option value="Visa">Visa</option>
                                                    <option value="DDPay">DDPay</option>
                                                    <option value="Cash">Cash</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer form-group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-success">
                                                {{transCtrl.editingTransaction.id?"Update":"Save"}}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- #endregion transction edit modal -->
                </div>
                <!--#endregion -->
                <!-- #region adjustment panel -->
                <div class="panel panel-success" ng-controller="AdjustmentController as adjCtrl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Adjustment
                            <button type="button" class="btn btn-xs btn-success pull-right" title="New Adjustment" ng-click="adjCtrl.create()">
                                New Adjustment
                            </button>
                        </h4>
                    </div>
                    <table id="adjList" class="table" ng-if="adjCtrl.adjustments.length>0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th>Invoice</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="adj in adjCtrl.adjustments | orderBy:'-operatedDate'">
                                <td>{{adj.operatedDate  | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{adj.amount | currency:"$"}}</td>
                                <td>{{adj.memo}}</td>
                                <td>{{adj.invoiceId? adj.invoiceId:'Unsettled'}}</td>
                                <td>
                                    <!-- delete -->
                                    <button type="button" class="btn btn-xs btn-danger" title="Remove Transaction" ng-click="adjCtrl.remove(adj)" ng-if="!adj.invoiceId">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="adjEditModal" tabindex="-1" role="dialog" aria-labelledby="adjEditModal" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="adjEditModalLabel">{{adjCtrl.editingAdjustment.id?"Edit Adjustment":"New Adjustment"}}</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- messsage -->
                                    <div ng-if="adjCtrl.alerts" ng-repeat="alert in adjCtrl.alerts">
                                        <div ng-class="{'alert':true,'alert-success':alert.type==='success','alert-danger':alert.type==='error'}">
                                            <span ng-bind="alert.message"></span>
                                            <button type="button" class="close" data-dismiss="alert" ng-click="adjCtrl.closeAlert(alert)">&times;</button>
                                        </div>
                                    </div>
                                    <form class="form-horizontal" ng-submit="adjCtrl.save()">
                                        <div class="form-group">
                                            <label class="control-label col-md-1">Amount</label>
                                            <div class="col-md-3">
                                                <input type="number" step="0.01" class="form-control" ng-model="adjCtrl.editingAdjustment.amount" required>
                                            </div>
                                            <label class="control-label col-md-1">Memo</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" ng-model="adjCtrl.editingAdjustment.memo" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer form-group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-success">
                                                {{adjCtrl.editingAdjustment.id?"Update":"Save"}}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--#endregion -->
            </div>
        </div>
    </div>
    <!-- #endregion -->
</div>