<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="cyberPark" type="CyberPark.Domain.Core.SysConfig, CyberPark.Domain" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CyberParkEntities" connectionString="Server=localhost;user id=root;Password=;Database=cyberpark;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!-- log4net-->
  <log4net>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:/Temp/cyberpark/job-" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="28" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%thread][%-5level] %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:/Temp/cyberpark/job-" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="28" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%thread] %message%newline" />
      </layout>
    </appender>
    <logger name="InfoLogger">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="ErrorLogger">
      <level value="ALL" />
      <appender-ref ref="ErrorAppender" />
    </logger>
  </log4net>
  <!-- sys config -->
  <cyberPark>
    <pxpay id="Cyberpark" key="1cf77dcb55854b0dd9e12782c844c05f11a4e49a61571037b91ee9720d514de7" />
    <directories>
      <add type="externalBill" path="E:\Temp\externalBill\" />
      <add type="invoicePDF" path="E:\Temp\Inv\" />
      <add type="temp" path="E:\Temp\" />
    </directories>
    <sysSettings>
      <add key="productChargeAdvanceDays" value="7" />
      <add key="autoOperatorId" value="999999" />
      <add key="GST" value="0.15" />
      <add key="defaultBranchId" value="b0b1ee67-dbcb-11e5-b23c-d4bed972f15a" />
      <add key="externalBillImportDay" value="4" />
      <add key="businessInvoiceIssueDay" value="10" />
      <add key="invoiceAutoDeliveryDelayHours" value="24" />
    </sysSettings>
    <mailSender>
      <add key="server" value="smtp.gmail.com" />
      <add key="port" value="587" />
      <add key="enableSsl" value="true" />
      <add key="username" value="thisisqlife" />
      <add key="password" value="bh4ahls6" />
      <add key="senderAddress" value="thisisqlife@gmail.com" />
      <add key="senderDisplayName" value="CyberPark" />
      <add key="timeout" value="60000" />
    </mailSender>
  </cyberPark>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>