<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CyberParkEntities" connectionString="metadata=res://*/xISPContext.csdl|res://*/xISPContext.ssdl|res://*/xISPContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=;database=cyberpark&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- sys config -->
  <cyberPark>
    <pxpay id="Cyberpark" key="1cf77dcb55854b0dd9e12782c844c05f11a4e49a61571037b91ee9720d514de7" />
    <directories>
      <add type="externalBill" path="E:\Temp\externalBill\" />
      <add type="invoicePDF" path="E:\Temp\Inv\" />
      <add type="temp" path="E:\Temp\" />
    </directories>
    <sysSettings>
      <add key="productChargeAdvanceDays" value="7" />
      <add key="autoOperatorId" value="9" />
      <add key="GST" value="0.15" />
    </sysSettings>
  </cyberPark>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>